
html {
    background-color: beige;
}

.Head {
    background-color: #FF4945;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    color: white;
    width: 900px;
    height: 200px;
    border-radius: 40px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 50px;

}

body {
    background-color: white;
    width: 1000px;
    height: 600px;
    position: relative;
    left: 120px;
    right: -120px;
    border-radius: 40px;
    border-style: solid;
    border-color: grey
}

p {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -150px;
    padding: 60px;
}

button {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 32px;
    display: inline-block;
    padding: 15px 32px;
    border-radius: 20px;
    width: 420px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: .5s ease;
    left: 80px;
    top: -140px;

}
#Btn3 {
    background-color: #7CD9FF

}
#Btn3:hover {
    background-color: aqua

}
button:hover {
    background-color: aqua

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}
